body {
    background-color: lightblue;
    font-family: Helvetica;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-content: space-between;
    text-shadow: 1px 1px grey;
}

li {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.header {
    padding: 16px;
    display: block;
    color: black;
    text-align: center;
    text-shadow: 1px 1px grey;
}

h1 {
    text-shadow: 2px 2px grey;
}

.hero-photo {
    display: flex;
    width: 60%;
    height: auto;
}