body {
    background-color: lightblue;
    font-family: Helvetica;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: top;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), 
    url('./images/handshake.jpg');
    margin: 0;
}

.nav-bar {
    display: flex;
    justify-content: center;
    text-align: space-around;
    text-shadow: 1px 1px grey;
    background-color: antiquewhite;
    opacity: .5;
    position: relative;
}

li {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.header {
    padding: 16px;
    display: block;
    color: black;
    text-align: center;
    text-shadow: 1px 1px grey;
}

h1 {
    text-shadow: 2px 2px grey
}

.contact-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: bottom;
}

p {
    text-shadow: 1px 1px grey;
}